# Nx Cloud
NX_CLOUD_ACCESS_TOKEN=

# Shared Sanity configuration
NEXT_PUBLIC_SANITY_API_VERSION=2026-07-07
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_PROJECT_ID=4tjg72wm
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=

# Clerk Auth (Primary Domain - apps/web)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=

# Clerk Auth (Satellite Domain - apps/seller)
# apps/seller/.env.local needs these
# CLERK_IS_SATELLITE=true
# NEXT_PUBLIC_CLERK_DOMAIN=seller.ushopgh.com

# Clerk Auth (Satellite Domain - apps/admin)
# apps/admin/.env.local needs these
# CLERK_IS_SATELLITE=true
# NEXT_PUBLIC_CLERK_DOMAIN=admin.ushopgh.com

# Base URLs
NEXT_PUBLIC_BASE_URL=https://ushopgh.com
